{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us ....</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to "All in One" Ecommerce Site !</p>
        </div>
    </div>
</header>

<div class ="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br/><br/>
                <p>Welcome to <i>All in One!</i> We are passionate about providing our customers with a seamless and enjoyable shopping experience. Our mission is to offer a wide range of quality products to meet the needs and preferences of users from all around the world.</p>
                
                <p>Our online store currently features of <i style="color:blue ;">'{{count}}'</i>  types of unique items, curated by our dedicated team to ensure both quality and value. Whether you’re shopping for everyday essentials or unique finds, our goal is to provide a trusted platform that delivers convenience and satisfaction.</p>
                
                <p>Feel free to explore our products and resources. If you have any questions, need assistance, or have feedback, please don’t hesitate to <a href="#"><i>"contact us"</i></a> <small>(we'll respond promptly to address any concerns or queries during our further development)</small>. We’d love to assist you!</p>
                
                <p>Thank you for visiting our store <i><a href="{% url 'home' %}">"All in One"</a></i>. We hope you enjoy shopping with us!</p>
                
                <br/><br/>
            </div>
        </center>
    </div>
</div>


{% endblock %}