{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us ....</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to "All in One" Ecommerce Site !</p>
        </div>
    </div>
</header>

<div class ="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br/><br/>
                <p align="justify">
                    Lorem ipsum odor amet, consectetuer adipiscing elit. Dapibus integer semper in aliquet maecenas ac. Aptent ipsum sociosqu dictum cras congue neque vehicula neque augue. Facilisis potenti inceptos lacinia curabitur nostra gravida consequat at. Ultricies ultrices volutpat porta pretium platea? Et dictum donec, curabitur in lacinia sodales. Consectetur malesuada nisi inceptos magna mattis netus primis. Efficitur montes conubia scelerisque pulvinar magnis cras quisque ligula.
                    <br/><br/>

                    Lobortis quisque massa neque mauris quisque libero sollicitudin justo. Arcu tempus himenaeos nascetur nisi urna velit nibh. Elit lacus neque proin; arcu phasellus a ac suscipit ad. Fringilla lacus pretium condimentum felis aliquam finibus. Nullam cursus varius velit platea eu; feugiat at. Lectus aliquam sollicitudin, turpis lacinia turpis sapien sem urna.
                    <br/><br/>

                    Egestas massa tincidunt mus nec nam dignissim natoque orci. Rhoncus mauris vulputate vehicula ac ut volutpat aliquet. Ultrices in vehicula laoreet duis dictum mus molestie suscipit. Vitae nostra montes sodales quis vestibulum fermentum. Ullamcorper laoreet libero arcu netus vivamus magnis. Tincidunt sit commodo justo sagittis quis. Erat porta turpis ad eu molestie aenean feugiat.
                </p>
                
                <br/><br/>
            </div>
        </center>
    </div>
</div>
{% endblock %}